* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* /common rules */

body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
}

.container {
    width: 650px;
    height: 300px;
    margin-top: 2rem;
}

.red {
    width: 200px;
    height: 300px;
    box-sizing: 100px;
    float: right;
    position: relative;
}

.blue {
    width: 200px;
    height: 300px;
    float: right;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.green {
    width: 200px;
    height: 300px;
    float: right;
    position: relative;
}

.container2 {
    width: 650px;
    height: 600px;
    margin-top: 3.5rem;
}

.yellow {
    width: 200px;
    height: 300px;
    float: right;
    position: relative;
}

.black {
    width: 200px;
    height: 300px;
    float: right;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.orange {
    width: 200px;
    height: 300px;
    float: right;
    position: relative;
}

.foto1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square3 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore3 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.square2 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore2 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.square1 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore1 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.square6 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore6 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.square5 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore5 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.square4 {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 160px;
}

.cuore4 {
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.discount1 {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
}

.sostenibilita1 {
    width: 100px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 45px;
    color: white;
    text-align: center;
}

.discount2 {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
}

.discount3 {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
}

.discount4 {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
}

.sostenibilita2 {
    width: 100px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 45px;
    color: white;
    text-align: center;
}

.sostenibilita3 {
    width: 100px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: white;
    text-align: center;
}

.tabella {
    list-style: none;
    font-size: 14px;
}

.prezzo {
    color: red;
}

.sbarrato {
    text-decoration: line-through;
}

.square1:hover .cuore1 {
    color: red;
}

.square2:hover .cuore2 {
    color: red;
}

.square3:hover .cuore3 {
    color: red;
}

.square4:hover .cuore4 {
    color: red;
}

.square5:hover .cuore5 {
    color: red;
}

.square6:hover .cuore6 {
    color: red;
}